---
import Logo from "../assets/whistlestop-logo.png";
import LogoMobile from "../assets/whistlestop-logo-mobile.png";
import FAQ from "../../public/WhistleStop Cooking Team FAQ 2023.pdf";
import Map from "../assets/whistlestop-map.png";

import Bluewood from "../assets/logos/bluewood-productions.svg";
import CoH from "../assets/logos/city-of-huntsville.png";
import CvB from "../assets/logos/cvb.jpg";
import EarlyWorks from "../assets/logos/early-works-childrens-museum.png";
import HmO from "../assets/logos/huntsville-music-office.png";
import i3 from "../assets/logos/i3-logo.png";
import Jacobs from "../assets/logos/jacobs.png";
import MidCity from "../assets/logos/mid-city.png";
import Octo from "../assets/logos/octo-hospitality.png";
import Redstone from "../assets/logos/redstone-federal-credit-union.png";
import Torch from "../assets/logos/torch-technologies.png";
import Window from "../assets/logos/window-world.jpg";
import Allied from "../assets/logos/allied-digital-printing-logo.png";
import COPT from "../assets/logos/copt-logo.png";
import Orion from "../assets/logos/orion-ampitheater-logo.png";

import "../styles/index.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="Whistlestop, the Rocket City BBQ Festival, raises funds allowing EarlyWorks to expand its offerings and service the community."
		/>
		<meta
			name="keywords"
			content="whistlestop, bbq, festival, rocket city, 2023, i3, october, midcity"
		/>
		<meta name="author" content="xaaane" />
		<meta name="robots" content="index, follow" />
		<title>Whistlestop BBQ Festival</title>
		<meta property="og:image" content="Whistlestop-BBQ-Festival.png" />
		<meta property="og:url" content="https://www.whistlestopweekend.com/" />
		<meta
			property="og:description"
			content="Whistlestop, the Rocket City BBQ Festival, raises funds allowing EarlyWorks to expand its offerings and service the community."
		/>
		<meta property="og:locale" content="en_US" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/45047b1d9e.js"
			crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<header>
			<img src={Logo} id="logo" />
			<img src={LogoMobile} id="mobile-logo" />
			<h1>JJ Grey and Mofro</h1>
			<h2>
				Eric Michael Taylor, Carver Commodore, The Silver Silos, The Stepdads,
				Ben Loftin & The Family, Joslyn & the Sweet Compressions
			</h2>
		</header>
		<main>
			<div id="main-container">
				<div id="main-content">
					<div class="main-content-item">
						<div class="main-content-item-heading blue">
							<h2>Taste of Whistlestop</h2>
							<i class="fa-sharp fa-solid fa-sparkle"></i>
						</div>
						<div class="main-content-item-text">
							<ul>
								<li>
									Come enjoy a taste of WhistleStop. This special pass will get
									you a taste of all 10 of our food vendors
								</li>
								<li>2 Day admission into the festival</li>
								<li>
									People’s Choice pulled pork tasting on Saturday from 4:00 pm
									to 6:00 pm
								</li>
								<li>
									Access to live music, market vendors, kids’ area, and
									food/drink vendors
								</li>
							</ul>
						</div>
						<a
							class="main-content-item-button"
							href="https://www.ticketsignup.io/TicketEvent/whistlestopweekend2023"
							target="_blank"
							rel="”noopener"
							noreferrer”><b>Purchase Pass</b> $125</a
						>
					</div>
					<div class="main-content-item">
						<div class="main-content-item-heading blue">
							<h2>Weekend Pass</h2>
							<i class="fa-sharp fa-solid fa-sparkle"></i>
						</div>
						<div class="main-content-item-text">
							<ul>
								<li>2 Day admission into the festival</li>
								<li>
									People’s Choice pulled pork tasting on Saturday from 4:00 pm
									to 6:00 pm
								</li>
								<li>
									Access to live music, market vendors, kids’ area, and
									food/drink vendors
								</li>
							</ul>
						</div>
						<a
							class="main-content-item-button"
							href="https://www.ticketsignup.io/TicketEvent/whistlestopweekend2023"
							target="_blank"
							rel="”noopener"
							noreferrer”><b>Purchase Pass</b> $35</a
						>
					</div>
					<div class="main-content-item">
						<div class="main-content-item-heading red">
							<h2>Friday Ticket</h2>
							<i class="fa-sharp fa-solid fa-sparkle"></i>
						</div>
						<div class="main-content-item-text">
							<ul>
								<li>Single Day - Friday admission only</li>
								<li>
									Access to live music, market vendors, kids’ area, and
									food/drink vendors
								</li>
							</ul>
						</div>
						<a
							class="main-content-item-button"
							href="https://www.ticketsignup.io/TicketEvent/whistlestopweekend2023"
							target="_blank"
							rel="”noopener"
							noreferrer”><b>Purchase Ticket</b> $15</a
						>
					</div>
					<div class="main-content-item">
						<div class="main-content-item-heading red">
							<h2>Saturday Ticket</h2>
							<i class="fa-sharp fa-solid fa-sparkle"></i>
						</div>
						<div class="main-content-item-text">
							<ul>
								<li>Single Day - Saturday admission only</li>
								<li>
									People’s Choice pulled pork tasting on Saturday from 4:00 pm
									to 6:00 pm
								</li>
								<li>
									Access to live music, market vendors, kids’ area, and
									food/drink vendors
								</li>
							</ul>
						</div>
						<a
							class="main-content-item-button"
							href="https://www.ticketsignup.io/TicketEvent/whistlestopweekend2023"
							target="_blank"
							rel="”noopener"
							noreferrer”><b>Purchase Ticket</b> $25</a
						>
					</div>
					<div class="main-content-item">
						<div class="main-content-item-heading orange">
							<h2>Team Registration</h2>
							<i class="fa-sharp fa-solid fa-sparkle"></i>
						</div>
						<div class="main-content-item-text">
							<ul>
								<li>Four cook team wristbands</li>
								<li>25x25 cook site *no pre-select</li>
								<li>Access to water, ice, and electric</li>
								<li>
									<a href={FAQ} target="_blank" rel="noreferrer nofollow"
										>Read Cooker FAQ</a
									>
								</li>
							</ul>
						</div>
						<a
							class="main-content-item-button"
							href="https://www.ticketsignup.io/TicketEvent/whistlestopweekend2023"
							target="_blank"
							rel="”noopener"
							noreferrer”><b>Join Waitlist</b> $275</a
						>
					</div>
				</div>
				<span class="disclaimer"
					>*Tickets will be available at the gate at an increased rate (card
					only - no cash accepted)</span
				>
			</div>
		</main>
		<section id="secondary-content">
			<div id="secondary-content-container">
				<article>
					<p>
						<b>WhistleStop</b>, the Rocket City BBQ Festival, has been a beloved
						North Alabama tradition since 2001. As a primary fundraising event
						for the EarlyWorks Children's Museum, the festival raises funds
						allowing EarlyWorks to expand its offerings and better serve the
						community over the years. After announcing its end last year, we are
						excited to announce - WHISTLESTOP IS <b>BACK!</b>
					</p>
					<br />
					<p>
						<b>MidCity District</b> and locally headquartered Huntsville company,
						<b>Integration Innovation, Inc. (i3)</b>, have joined forces to make
						sure that WhistleStop is here to stay and comes back better than
						EVER! We have expanded the festival grounds including 10+ local food
						vendors offering unique options to excite your taste buds, signature
						WhistleStop cocktails & cold beers, snack vendors such as kettle
						corn and hot boiled peanuts, a tailgate zone to watch your favorite
						football team, a kid zone for the little ones to run around, curated
						market vendors, and a main stage with some INCREDIBLE music starting
						Friday at 4pm and all day and night Saturday!
					</p>
				</article>
				<div id="vendors">
					<div id="food-vendors">
						<div class="vendor-heading">
							<h3>Food Vendors<span>*</span></h3>
							<div class="line"></div>
						</div>
						<ul class="vendor-items">
							<li class="tasting">Phat Sammy's</li>
							<li class="tasting">Goodland Pourhouse</li>
							<li class="tasting">Fusion BBQ</li>
							<li class="tasting">Blue Oak BBQ</li>
							<li class="tasting">The Standard Social Market</li>
							<li class="tasting">Lawler's BBQ</li>
							<li class="tasting">Long's Craft BBQ</li>
							<li class="tasting">Tamarind Island Grill</li>
							<li class="tasting">The Camp</li>
							<li>Nannys Lemonade</li>
							<li>Hustle & Pop</li>
							<li>Happy Pappi</li>
							<li>and more</li>
						</ul>
					</div>
					<div id="market-vendors">
						<div class="vendor-heading">
							<h3>Market Vendors</h3>
							<div class="line"></div>
						</div>
						<ul class="vendor-items">
							<li>Fortenberry Farms</li>
							<li>Furry Hippie Beard Co.</li>
							<li>Backwoods Market Garden</li>
							<li>Toasted Pineapple</li>
							<li>Luna Moth</li>
							<li>Scott Honey Farms 7 Organics</li>
							<li>Pitmaster BBQ Supply</li>
							<li>Sauce Daddy</li>
							<li>and more</li>
						</ul>
					</div>
					<span class="disclaimer"
						>*Vendors in orange are part of the Tasting Ticket experience</span
					>
				</div>
			</div>
		</section>
		<section id="schedule">
			<div id="schedule-container">
				<div id="map">
					<button id="map-button">View the Map</button>
					<img src={Map} alt="Whistlestop Map" />
				</div>
				<div id="schedule-content">
					<h2>Weekend Schedule</h2>
					<div class="schedule-block">
						<div class="schedule-times">
							<h3>
								Oct 20 <i class="fa-sharp fa-solid fa-sparkle"></i> Friday
							</h3>
							<span>Gates Open at 4:00 PM</span>
						</div>
						<ul class="event-times">
							<li>
								<p>4:00 pm</p>
								<p>Live Music Begins</p>
							</li>
							<li>
								<p>11:00 pm</p>
								<p>Festival Ends</p>
							</li>
						</ul>
					</div>
					<div class="schedule-block">
						<div class="schedule-times">
							<h3>
								Oct 21 <i class="fa-sharp fa-solid fa-sparkle"></i> Saturday
							</h3>
							<span>Gates Open at 11:00 AM</span>
						</div>
						<ul class="event-times">
							<li class="heavy">
								<p>11:00 am</p>
								<p>BBQ Competition Begins</p>
							</li>
							<li>
								<p>11:00 am</p>
								<p>Live Music Begins</p>
							</li>
							<li class="heavy">
								<p>4:00 pm</p>
								<p>People's Choice</p>
							</li>
							<li class="heavy">
								<p>7:30 pm</p>
								<p>BBQ Competition Announcements & Awards</p>
							</li>
							<li>
								<p>11:00 pm</p>
								<p>Festival Ends</p>
							</li>
						</ul>
					</div>
					<span class="disclaimer">*Schedule is subject to change</span>
				</div>
			</div>
		</section>
		<footer>
			<div id="contact">
				<h3 id="questions">
					<b>Questions?</b> Email us at <a
						href="mailto:whistlestop@i3-corps.com">whistlestop@i3-corps.com</a
					>
				</h3>
				<a
					id="follow"
					href="https://www.facebook.com/WhistleStopWeekend/"
					target="_blank"
					rel="noopener noreferrer"
				>
					Follow Us for Updates <i class="fa-brands fa-square-facebook"></i>
				</a>
			</div>
		</footer>
		<section id="sponsors">
			<div id="sponsors-container">
				<div id="first-copy" class="logo-container">
					<img src={Bluewood} alt="Bluewood Productions Logo" />
					<img src={CoH} alt="City of Huntsville Logo" />
					<img src={CvB} alt="CVB Logo" />
					<img src={EarlyWorks} alt="Early Works Children's Museum Logo" />
					<img src={HmO} alt="Huntsville Music Office Logo" />
					<img src={i3} alt="i3 Logo" />
					<img src={Jacobs} alt="Jacobs Logo" />
					<img src={MidCity} alt="MidCity District Logo" />
					<img src={Octo} alt="Octo Hospitality" />
					<img src={Redstone} alt="Redstone Federal Credit Union Logo" />
					<img src={Torch} alt="Torch Technologis Logo" />
					<img src={Window} alt="Window World Logo" />
					<img src={Allied} alt="Allied Digital Printing Logo" />
					<img src={COPT} alt="COPT Logo" />
					<img src={Orion} alt="Orion Ampitheater Logo" />
				</div>
				<div id="second-copy" class="logo-container">
					<img src={Bluewood} alt="Bluewood Productions Logo" />
					<img src={CoH} alt="City of Huntsville Logo" />
					<img src={CvB} alt="CVB Logo" />
					<img src={EarlyWorks} alt="Early Works Children's Museum Logo" />
					<img src={HmO} alt="Huntsville Music Office Logo" />
					<img src={i3} alt="i3 Logo" />
					<img src={Jacobs} alt="Jacobs Logo" />
					<img src={MidCity} alt="MidCity District Logo" />
					<img src={Octo} alt="Octo Hospitality" />
					<img src={Redstone} alt="Redstone Federal Credit Union Logo" />
					<img src={Torch} alt="Torch Technologis Logo" />
					<img src={Window} alt="Window World Logo" />
					<img src={Allied} alt="Allied Digital Printing Logo" />
					<img src={COPT} alt="COPT Logo" />
					<img src={Orion} alt="Orion Ampitheater Logo" />
				</div>
			</div>
		</section>
		<script>
			// Handle map button
			document.addEventListener("DOMContentLoaded", () => {
				let isMapOpen = false;
				const scheduleContainer = document.getElementById("schedule-container");
				const mapImage = document.getElementById("map");
				const mapButton = document.getElementById("map-button");
				const schedule = document.getElementById("schedule-content");

				mapButton.addEventListener("click", () => {
					if (!isMapOpen) {
						mapButton.textContent = "Close the Map";
						scheduleContainer.classList.add("open");
						schedule.classList.add("shrink");
						mapImage.classList.add("expand");
					} else {
						mapButton.textContent = "View the Map";
						scheduleContainer.classList.remove("open");
						schedule.classList.remove("shrink");
						mapImage.classList.remove("expand");
					}
					isMapOpen = !isMapOpen;
				});
			});
		</script>
		<script>
			// Handle the icons in the vendor lists
			const vendorItems = document.querySelectorAll(".vendor-items li");

			vendorItems.forEach((item) => {
				const newLi = document.createElement("li");
				const icon = document.createElement("i");
				newLi.className = "kilter";
				icon.className = "fa-sharp fa-solid fa-sparkle";
				newLi.appendChild(icon);
				item.after(newLi);
			});
		</script>
		<script>
			// Handle the Sponsor Logo scrolling
			document.addEventListener("DOMContentLoaded", function () {
				const firstCopy = document.getElementById("first-copy");
				const secondCopy = document.getElementById("second-copy");

				let scrollSpeed = 0.05;
				let firstPos = 0;
				let secondPos = -100;

				const animateScroll = () => {
					firstPos += scrollSpeed;
					secondPos += scrollSpeed;

					if (firstPos >= 100) {
						firstPos = secondPos - 100;
					}

					if (secondPos >= 100) {
						secondPos = firstPos - 100;
					}

					firstCopy.style.transform = `translateX(${firstPos}%)`;
					secondCopy.style.transform = `translateX(${secondPos}%)`;

					requestAnimationFrame(animateScroll);
				};

				const animationFrameId = requestAnimationFrame(animateScroll);

				// Cleanup function to stop animation
				window.addEventListener("unload", () => {
					cancelAnimationFrame(animationFrameId);
				});
			});
		</script>
	</body>
</html>
